<!DOCTYPE html>
<html>
  <head>
    <title>Stephane M</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'resume' %>
    <%= javascript_include_tag 'resume' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
